@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg: #f0131e;
  --secondary: #fc989d;
  --f1: 1.5rem;
  --f2: 0.9rem;
  --f3: 0.7rem;
  --trans: 0.5s;
  --b: #000;
  --w: #fff;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
}
header.active {
  background-color: var(--w);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23);
}
header.active nav ul li a {
  color: var(--b);
}
header nav {
  display: flex;
  align-items: center;
}
header.active nav ul li a:hover {
  color: var(--bg);
}
header .logo img {
  width: 110px;
  z-index: 10;
}
header nav ul li {
  display: inline-block;
  margin-right: 35px;
}
header nav ul li a {
  text-decoration: none;
  color: var(--w);
  text-transform: capitalize;
  transition: 0.4s;
  font-weight: 400;
  font-size: 15px;
}
header nav ul li a:hover {
  color: var(--bg);
}
header nav ul .fa-close {
  display: none;
}
header nav ul {
  position: relative;
}
header nav ul.active {
  width: 380px;
  position: absolute;
  left: 23px;
  top: 55px;
  display: block;
  background-color: #63697a;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  padding-top: 30px;
}
header nav ul.active li {
  padding: 10px 0px;
  margin: 0;
  font-size: 14px;
}
header nav ul.active li a {
  color: var(--w);
}
header nav ul.active .fa-close {
  display: block;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--w);
  cursor: pointer;
}
header.active nav .menu .bar {
  background-color: var(--b);
  border-radius: 5px;
}
header nav .menu {
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  display: none;
}
header nav .menu .bar {
  width: 25px;
  height: 3px;
  background-color: var(--w);
  border-radius: 5px;
  overflow: hidden;
}
.top-screen {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: var(--b);
  color: var(--w);
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 12;
}
.top-screen i {
  font-size: 13px;
  z-index: 13;
}

.banners {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banners video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.banner-content {
  z-index: 13;
  position: absolute;
  left: 60px;
  bottom: 100px;
  color: var(--w);
}
.banner-content h1 {
  font-size: 70px;
  text-transform: uppercase;
}
.banner-content h1 span:nth-child(1) {
  color: var(--bg);
}
.banner-content h1 span:nth-child(2) {
  font-size: 30px;
  text-transform: capitalize;
  padding-left: 10px;
}
.banner-content p {
  max-width: 650px;
  text-align: justify;
  font-size: 14px;
}
.banner-content a {
  display: inline-block;
  padding: 7px 20px;
  text-decoration: none;
  color: var(--b);
  background-color: var(--w);
  margin-top: 20px;
  font-size: var(--f2);
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.4s;
}
.banner-content a:hover {
  background-color: var(--b);
  color: var(--w);
}
.container {
  width: 100%;
  background-color: #e1f8dc;
}
.container .row {
  width: 90vw;
  margin: 0px auto;
  display: flex;
  overflow: hidden;
}
.container .row .col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
.container .row .col .image img {
  width: 450px;
  transition: var(--trans);
  z-index: 14;
}
.container .row .col .image img:hover {
  transform: scale(1.09);
}
.container .row .col .text-content {
  width: 600px;
  padding: 20px;
  background-color: var(--w);
  transition: var(--trans);
  border-radius: 3px;
  overflow: hidden;
}
.container .row .col .text-content:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23);
}
.container .row .col .text-content h3 {
  text-transform: capitalize;
  margin: 5px 0px;
  font-weight: 500;
}
.container.row .col .text-content p {
  font-size: 15px;
}
.container .row .col .text-content .collections {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 8px 0px;
  overflow: hidden;
  font-size: 15px;
}
.collections h4 {
  flex: none;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: var(--bg);
  color: var(--w);
  text-align: center;
  font-weight: 400;
  border-radius: 3px;
  transition: var(--trans);
  z-index: 15;
  cursor: pointer;
}
.collections .movies {
  text-wrap: nowrap;
  animation: scrolling 15s infinite linear;
}
@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-container {
  width: 100%;
  background-color: #2e364a;
  display: flex;
  justify-content: center;
}
.timeline {
  width: 90vw;
  margin: 0px auto;
  position: relative;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
  overflow: hidden;
}
.timeline img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--w);
  z-index: 15;
  object-fit: cover;
  object-position: center top;
  transform: translate(-25px, -35px);
  border: 2px solid var(--w);
}
.timeline img:hover ~ .character {
  visibility: visible;
}
.timeline .character {
  position: absolute;
  left: 41.5%;
  top: 2%;
  padding: 5px 15px;
  background-color: var(--b);
  color: var(--w);
  border-radius: 25px;
  transition: 0.4s;
  visibility: hidden;
  text-transform: capitalize;
  font-size: var(--f3);
}
.timeline .character::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 25px;
  left: 45px;
  z-index: 1;
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 7px solid var(--b);
  bottom: -10px;
}
.timeline::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--w);
  left: 52%;
  margin-left: -50px;
}
.timeline-container {
  position: relative;
  text-align: left;
}
.timeline-container .item {
  width: 45%;
  background-color: var(--w);
  padding: 10px 20px;
  position: relative;
  border-radius: 5px;
  font-size: var(--f2);
}
.right-item {
  left: 51%;
}
.left-item {
  left: 0;
}
.timeline-container .box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--w);
  position: absolute;
  left: 47.3%;
  top: 25px;
  z-index: 10;
}
.timeline-container .item strong {
  display: inline-block;
  text-transform: capitalize;
  color: var(--bg);
  margin: 5px 0px;
}
.timeline-container .left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 25px;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--w);
  right: -10px;
}
.timeline-container .right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 25px;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--w);
  left: -10px;
}
.swiper {
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  width: 100vw;
  display: flex;
  transition: var(--trans);
}
.swiper-slide {
  width: 100%;
  flex: none;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--w);
  padding: 80px 60px;
}
.swiper-container h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
.swiper-container .details i {
  color: yellow;
  font-size: 12px;
}
.swiper-container .details div {
  text-transform: capitalize;
  font-size: 13px;
  margin-bottom: 5px;
}
.swiper-container .details div span {
  color: var(--bg);
  font-weight: 500;
  font-size: 15px;
}
.swiper-container .details p {
  width: 600px;
  text-transform: capitalize;
  font-size: var(--f2);
  margin: 8px 0px;
}
.swiper-container .details .btn {
  text-decoration: none;
  color: var(--w);
  padding: 5px 25px;
  background-color: var(--bg);
  display: inline-block;
  margin-top: 10px;
  font-size: var(--f2);
}
.swiper .swiper-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.swiper .swiper-pagination .page-item {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: var(--w);
  transition: var(--trans);
}
.swiper .swiper-pagination .page-item.active {
  width: 15px;
  background-color: var(--bg);
}

.collections .search-box {
  width: 600px;
  height: 50px;
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}
.collections .search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 20px;
  border-radius: 25px 0px 0px 25px;
}
.collections .search-box .search-btn {
  width: 100px;
  height: 100%;
  line-height: 50px;
  color: var(--w);
  background-color: var(--bg);
  text-align: center;
  cursor: pointer;
  border-radius: 0px 25px 25px 0px;
}
.collections .items {
  width: 100%;
  padding: 40px 0;
}
.collections .items .item {
  width: 90vw;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
.collections .items .item .box {
  width: 100%;
  height: 400px;
  background-color: var(--w);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: var(--shadow);
}
.collections .items .item .box img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}
.collections .items .item .box .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 13px;
}
.collections .items .item .box .label div:nth-child(1) {
  text-transform: capitalize;
}
.collections .items .item .box .label div i {
  color: yellow;
  margin-right: 5px;
}

@media all and (max-width: 768px) {
  header {
    padding: 5px 15px;
  }
  header .logo img {
    width: 90px;
  }
  .banner-content {
    left: 25px;
    bottom: 20px;
  }
  .banner-content h1 {
    font-size: 40px;
  }
  .banner-content h1 span:nth-child(2) {
    font-size: 20px;
  }
  .banner-content p {
    font-size: 13px;
  }
  .banner-content a {
    padding: 7px 15px;
    font-size: 13px;
  }
  .top-screen {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .hero-container {
    padding-left: 55px;
  }
  .timeline-container .item {
    width: 40%;
  }
  .timeline::before {
    margin-left: -47px;
  }
  .timeline img {
    transform: translate(-33px, -35px);
  }
  .timeline-container .box {
    left: 44.2%;
  }
  .swiper-container {
    padding: 40px 25px;
  }
  .swiper-container h1 {
    font-size: 30px;
  }
  .swiper-container .details i {
    font-size: 11px;
  }
  .swiper-container .details div {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .swiper-container .details div span {
    font-size: 14px;
  }
  .swiper-container .details p {
    font-size: 14px;
  }
  .swiper-container .details .btn {
    padding: 5px 15px;
    margin-top: 5px;
    font-size: 14px;
  }
  .collections .search-box {
    width: 400px;
    height: 45px;
  }
  .collections .search-box .search-btn {
    line-height: 45px;
    font-size: 14px;
  }
  .collections .items .item {
    grid-template-columns: repeat(3, 1fr);
  }
  .collections .items .item .box {
    height: 300px;
    background-color: var(--w);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: var(--shadow);
  }
  .collections .items .item .box img {
    height: 80%;
  }
}

@media all and (max-width: 500px) {
  header nav .menu {
    display: flex;
    row-gap: 3px;
  }
  header nav ul.active {
    width: 450px;
    left: 24px;
  }
  header nav ul {
    display: none;
  }
  header {
    padding: 5px 10px;
  }
  header .logo {
    margin-top: 10px;
  }
  header .logo img {
    width: 70px;
  }
  .banner-content {
    left: 20px;
    bottom: 50px;
  }
  .banner-content h1 {
    font-size: 30px;
  }
  .banner-content h1 span:nth-child(2) {
    font-size: 15px;
  }
  .banner-content p {
    max-width: 350px;
    font-size: 12px;
  }
  .banner-content a {
    padding: 5px 10px;
    font-size: 12px;
  }
  .top-screen {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .hero-container {
    padding-left: 45px;
  }
  .timeline img {
    width: 80px;
    height: 80px;
  }
  .timeline-container .item {
    width: 35%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }
  .timeline-container .item p {
    display: none;
  }
  .timeline::before {
    margin-left: -40px;
  }
  .timeline img {
    transform: translate(-31px, -35px);
  }
  .timeline-container .box {
    width: 15px;
    height: 15px;
    left: 42%;
  }
  .timeline-container .left-arrow {
    right: -9px;
  }
  .timeline-container .right-arrow {
    left: -9px;
  }
  .swiper-container {
    padding: 20px 20px;
    margin-left: 0;
  }
  .swiper-container h1 {
    font-size: 20px;
  }
  .swiper-container .details i {
    font-size: 10px;
  }
  .swiper-container .details div {
    font-size: 11px;
  }
  .swiper-container .details div span {
    font-size: 13px;
  }
  .swiper-container .details p {
    max-width: 300px;
    font-size: 13px;
  }
  .swiper-container .details .btn {
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 12px;
  }
  .collections .search-box {
    width: 300px;
    height: 40px;
  }
  .collections .search-box .search-btn {
    line-height: 40px;
    font-size: 13px;
  }
  .collections .items .mobile-responsive {
    grid-template-columns: repeat(2, 1fr);
  }
  .collections .items .item .box .label {
    font-size: 12px;
  }
}

@media all and (max-width: 250px) {
  header nav .menu{
    row-gap: 2px;
  }
  header nav .menu .bar {
    width: 15px;
  }
  .banner-content {
    left: 20px;
    bottom: 80px;
  }
  .banner-content p {
    max-width: 200px;
  }
  .collections .items .item .box .label {
    margin: 0;
    padding: 0px 5px;
  }
  header nav ul.active {
    width: 200px;
    left: 24px;
  }
  .timeline::before {
    margin-left: -23px;
  }
  .timeline-container .box {
    width: 13px;
    height: 13px;
    left: 40%;
    top: 26px;
  }
  .timeline img {
    transform: translate(-22px, -35px);
  }
  .timeline::before {
    width: 5px;
  }
  .swiper-container {
    padding: 50px 20px;
    margin-left: 0;
  }
  .swiper-container .details p {
    width: 200px;
  }
  .collections .search-box {
    width: 200px;
    height: 35px;
  }
  .collections .search-box input::placeholder{
    font-size: 12px;
  }
  .collections .search-box .search-btn {
    line-height: 35px;
    font-size: 12px;
  }
  .collections .items .laptop-responsive {
    grid-template-columns: 1fr;
  }
}
